<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of owners</title>
</head>
<body>
<!--This is for intellij to recognize the attributes better-->
<!--/*@thymesVar id="vet" type="guru.springframework.sfgpetclinic.model.Vet"*/-->
    <h1 th:text="'List of Owners'">Owner List</h1>

    <table>
        <head>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </head>
        <tbody>
        <tr th:each="owner: ${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">John</td>
            <td th:text="${owner?.lastName}">Buck</td>
        </tr>
        </tbody>
    </table>
</body>
</html>